body
{
background-color: grey;
color:#e3d8d5;
font-size: 25px;
}
.display
{
    text-align: center;
}
a{
    color:white;
    text-decoration:none;
}
button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  #List{
    display: flex;
    justify-content: center;
  }   
ul{
    display: flex;
    justify-content: space-between;
}  
li{
        width: fit-content;
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        border: outset;
        border-width: 12px;
  }
